:root {
    --width: 800px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    --margin: calc(100vw - var(--width));
    margin: auto max(0vw, calc(var(--margin) / 2));
    padding: 0 1em;
}

main {
    max-width: var(--width);

    display: flex;
    flex-direction: column;
    line-height: 1.6;
    color: #444;
}

main>header {
    & {
        display: flex;
        align-items: flex-end;
        margin: 1em 0;
        gap: 1em;
    }

    h1 {
        margin: 0;
    }
}

main,
nav {
    margin-bottom: auto;
}

nav {
    display: flex;
    gap: 0.5em;
}

footer {
    margin: 1em auto;
}

hr {
    width: 100%;
}

img,
video {
    max-width: min(100%, var(--width));
    height: auto;
    object-fit: contain;
}

a {
    text-decoration-line: underline;
}

li code {
    font-size: 1rem;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

code {
    background-color: bisque;
}
