main {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    line-height: 1.6;
    color: #444;
}

@media (width >=800px) {
    main {
        margin: 0 auto;
        align-items: center;
    }
}
